menu "ARM architecture"
	depends on ARM

config SYS_ARCH
	default "arm"

choice
	prompt "Target select"
        default CPU_V7

config CPU_V7
        bool "armv7"
        select HAS_VBAR
        select HAS_THUMB2

config CPU_V7M
	bool "armv7m"
        select HAS_THUMB2

endchoice

config SYS_CPU
        default "armv7" if CPU_V7
        default "armv7m" if CPU_V7M

#source "arch/arm/cpu/armv7/mx7/Kconfig"

#source "arch/arm/mach-zynq/Kconfig"

source "arch/arm/cpu/armv7/Kconfig"

#source "board/BuR/kwb/Kconfig"

endmenu
