choice

config ARM
	bool "ARM architecture"
	select CREATE_ARCH_SYMLINK
	select HAVE_PRIVATE_LIBGCC if !ARM64
	select HAVE_GENERIC_BOARD
	select SYS_GENERIC_BOARD
	select SUPPORT_OF_CONTROL
endchoice

config X86
	bool "x86 architecture"
	select CREATE_ARCH_SYMLINK
	select HAVE_PRIVATE_LIBGCC
	select HAVE_GENERIC_BOARD
	select SYS_GENERIC_BOARD
	select SUPPORT_OF_CONTROL
	select DM
	select DM_SERIAL
	select DM_GPIO
	select DM_SPI
	select DM_SPI_FLASH

source "arch/arm/Kconfig"
